<%- include('../layouts/adminLayout/header.ejs') -%>
    <%- include('../layouts/adminLayout/navbar.ejs') -%>


        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic form elements</h4>
                    <p class="card-description"> Basic form elements </p>
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="exampleInputName1">Coupon Name</label>
                            <input type="text" class="form-control" name="couponName" id="couponName"
                                placeholder="coupon Name" value="<%= coupon.couponName%>">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Coupon Code</label>
                            <input type="text" class="form-control" name="Code" id="Code" placeholder="Coupon Code"
                                value="<%= coupon.couponCode%>">

                        </div>
                        <div class="form-group">
                            <label for="quantity">Description</label>
                            <input type="text" class="form-control" name="description" id="description"
                                placeholder="Description" value="<%= coupon.couponDescription%>">

                        </div>
                        <div class="form-group">
                            <label for="price">Availability</label>
                            <input type="text" class="form-control" name="availability" id="availability"
                                placeholder="Availability" value="<%= coupon.availability%>">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputCity1">Minimum Amount</label>
                            <input type="text" class="form-control" name="Minimum" id="Minimum"
                                placeholder="Enter Minimum amount" value="<%= coupon.minAmount%>">

                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Discount Amount</label>
                            <input type="text" class="form-control" name="discount" id="discount"
                                placeholder="Enter Discount Amount" value="<%= coupon.discountAmount%>">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Expiry Date</label>
                            <input type="date" class="form-control" name="Expiry" id="Expiry" placeholder="Expiry Date"
                                value="<%= coupon.expiryDate%>">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-dark">Cancel</button>
                    </form>

                    <% if (typeof message !=='undefined' ) { %>
                        <p style="text-align: center; font-size: smaller; color: red">
                            <%- message %>
                        </p>
                        <% } %>
                </div>
            </div>
        </div>