<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/images/icons/logoVV.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <!-- ============================================================================================= -->
  <link rel="stylesheet" type="text/css" href="/css/util.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <!--===============================================================================================-->
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.min.css" rel="stylesheet" />

  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #000000;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    #header,
    #order-success {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 20px;
    }

    table {
      width: 80%;
      margin: 20px auto;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 12px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
  <%- include('../layouts/userLayout/center.ejs') -%>

    <%- include('../layouts/userLayout/navbar.ejs') -%>

      <!-- ===========details==========================-->
      <div id="header">
        <h1>Order Placed Successfully!</h1>
      </div>

      <div id="order-success">
        <h2>Order Summary</h2>

        <table>
          <thead>
            <tr>
              <th>Details</th>
              <th>Info</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Order Id:</td>
              <td>
                <%=orders.order_id%>
              </td>
            </tr>
            <tr>
              <td>User Name:</td>
              <td>
                <%= orders.user_id.username %>
              </td>
            </tr>
            <tr>
              <td>Address</td>
              <td>
                <%=orders.delivery_address%>
              </td>
            </tr>
            <tr>
              <td>Payment:</td>
              <td>
                <%=orders.payment%>
              </td>
            </tr>
            <tr>
              <td>Total Price:</td>
              <td>₹ <%=orders.total_amount%>
              </td>
            </tr>
            <tr>
              <td>Discount:</td>
              <td>₹ <%= discountAmount%>
              </td>
            </tr>
            <tr>
              <td>Date:</td>
              <td>
                <%= moment(orders.date).format('DD/MM/YYYY')%>
              </td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>

        <div class="container mb-2" style="text-align: center; background-color: white">
          <div>
            <strong>Thank You For Purchasing With Us 😊
              <span class="btn btn-outline-light"><a href="/order"><b>View orders</b></a></span></strong>
          </div>
          <br />
          <div class="order-card-footer">
            <a href="/shop"><button class="btn btn-outline-primary mt-1" style="width: 150px">
                Continue Shopping
              </button></a>
          </div>
          <br />
        </div>
      </div>


      <%- include('../layouts/userLayout/page-footer.ejs') -%>

        <!--===============================================================================================-->
        <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/bootstrap/js/popper.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/select2/select2.min.js"></script>
        <script>
          $(".js-select2").each(function () {
            $(this).select2({
              minimumResultsForSearch: 20,
              dropdownParent: $(this).next(".dropDownSelect2"),
            });
          });
        </script>
        <!--===============================================================================================-->
        <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
        <!--===============================================================================================-->
        <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <!--===============================================================================================-->
        <script src="/js/main.js"></script>
        </body>

</html>