<!DOCTYPE html>
<html lang="en">

<head>
    <title>Orders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/logoVV.png" /> 
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <style>
        .card {
            width: 50%;
            margin-left: 24%;
            margin-top: 5%;
            margin-bottom: 10%;
        }

        .btn-outline-danger {
            color: #dc3545;
            background-color: transparent;
            background-image: none;
            border-color: #dc3545;
            margin-left: 60%;
            margin-top: 5%;

        }

        .pagination {
            display: -ms-flexbox;
            display: flex;
            padding-left: 0;
            list-style: none;
            border-radius: 0.25rem;
            margin-bottom: 10%;
            margin-top: -11%;
        }
    </style>
    <%- include('../layouts/userLayout/center.ejs') -%>

        <%- include('../layouts/userLayout/navbar.ejs') -%>


            <section id="header" style="background-color: lightblue; height: 60px;">
                <div>
                    <h1 style="color: rgb(0, 0, 0); justify-content: center; text-align: center;">Orders</h1>
                </div>
            </section>

            <!-- breadcrumbs -->
            <div class="container">
                <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
                    <a href="/home" class="stext-109 cl8 hov-cl1 trans-04">
                        Home
                        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                    </a>
                    <a href="/editProfile" class="stext-109 cl8 hov-cl1 trans-04">
                        Edit Profile
                        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                    </a>
                    <a href="/order" class="stext-109 cl8 hov-cl1 trans-04">
                        Orders
                        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <% if (orders.length>0) { %>
                <% orders.forEach(order=> { %>

                    <div class="card">
                        <div class="card-header" style="background-color: lightblue;">
                            <b> #Order ID:<%=order.order_id%></b>

                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><b>Total Amount : ₹<%=order.total_amount%></b></h5>

                            <p class="card-text">Delivery Address:<%=order.delivery_address%>
                            </p>
                            <br>
                            <p class="card-text">Order Date:<%=moment(order.date).format('DD /MM/YYYY') %>
                                    &nbsp;&nbsp;&nbsp;
                                    items:
                                    <%=order.items.length%>
                            </p>
                            <br>
                            <p class="card-text">Payment Method:<%=order.payment%>
                            </p>
                            <br>
                            <p class="card-text">Expected Delivery:<%=order.expected_delivery%>
                            </p>
                            <br>
                            <a href="/single-order?orderId=<%=order._id%>" class="btn btn-outline-primary mt-5">View
                                Details</a>
                            <a href="/invoice?orderId=<%=order._id%>" class="btn btn-outline-danger"> Download
                                Invoice</a>
                        </div>
                    </div>
                    <%})%>
                        <% }else{ %>
                            <div class="col-lg-9" style="text-align: center; margin-top: 10%;">
                                <h1>No orders found</h1>
                            </div>
                            <% } %>


                                <nav aria-label="Page navigation example" style="margin-left: 43%; margin-top: 4%;">
                                    <ul class="pagination">
                                        <% if (currentPage> 1) { %>
                                            <li class="page-item">
                                                <a class="page-link" href="?page=<%= currentPage - 1 %>"
                                                    aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <% } %>

                                                <% for(let i=1; i <=totalPages; i++) { %>
                                                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                        <a class="page-link" href="?page=<%= i %>">
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } %>

                                                        <% if (currentPage < totalPages) { %>
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page=<%= currentPage + 1 %>"
                                                                    aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                    <span class="sr-only">Next</span>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                    </ul>
                                </nav>

                                <%- include('../layouts/userLayout/page-footer.ejs') -%>

                                    <!--===============================================================================================-->
                                    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/animsition/js/animsition.min.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/bootstrap/js/popper.js"></script>
                                    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/select2/select2.min.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/daterangepicker/moment.min.js"></script>
                                    <script src="vendor/daterangepicker/daterangepicker.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/slick/slick.min.js"></script>
                                    <script src="js/slick-custom.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/parallax100/parallax100.js"></script>
                                    <script>
                                        $('.parallax100').parallax100();
                                    </script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="vendor/sweetalert/sweetalert.min.js"></script>
                                    <!--===============================================================================================-->
                                    <script src="js/main.js"></script>

                                    </body>

</html>