<%- include('../layouts/userLayout/header.ejs') -%>
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/logoVV.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/util.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" href="css/otp.css">
  <!--===============================================================================================-->
  <%- include('../layouts/userLayout/center.ejs') -%>
    <%- include('../layouts/userLayout/navbar.ejs') -%>
      <!-- ==============OTP fORM===================================== -->
      <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
          <% if (typeof message !=='undefined' ) { %>
            <h6 style="color: red; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
              <%= message %>
            </h6>
            <%}%>
              <div class="card p-2 text-center">
                <h6>Please enter the otp to verify <br> your account</h6>
                <form action="" method="post">
                  <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded" type="hidden" value="<%= locals.email   %>"
                      name="email" maxlength="1" />
                    <input class="m-2 text-center form-control rounded otp-input" type="text" id="first" name="one"
                      maxlength="1" />
                    <input class="m-2 text-center form-control rounded otp-input" type="text" id="second" name="two"
                      maxlength="1" />
                    <input class="m-2 text-center form-control rounded otp-input" type="text" id="third" name="three"
                      maxlength="1" />
                    <input class="m-2 text-center form-control rounded otp-input" type="text" id="fourth" name="four"
                      maxlength="1" />
                  </div>
                  <div id="otpTimer" class="otp-timer"></div>
                  <div class="mt-4">
                    <button type="submit" class="btn px-4 validate" id="validateButton">Validate</button>
                  </div>
                  <div id="resendButton" style="margin-top: 4%;display: none;">
                    <button style="text-decoration: underline;" onclick="resendOtp()">Resend OTP</button>
                  </div>
                </form>
              </div>
        </div>
      </div>

      <%- include('../layouts/userLayout/page-footer.ejs') -%>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            let expirationTimestamp = sessionStorage.getItem('otpExpiration');

            if (!expirationTimestamp) {
              expirationTimestamp = new Date().getTime() + 1 * 60 * 1000;
              sessionStorage.setItem('otpExpiration', expirationTimestamp);
            }

            const otpTimerElement = document.getElementById('otpTimer');
            const resendButtonElement = document.getElementById('resendButton');

            function updateTimer() {
              const currentTime = new Date();
              const timeDifference = expirationTimestamp - currentTime;

              if (timeDifference > 0) {
                const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);
                otpTimerElement.innerText = `Resend After: ${minutes}m ${seconds}s`;
              } else {
                otpTimerElement.innerText = 'Time expired';
                resendButtonElement.style.display = 'block';
              }
            }

            setInterval(updateTimer, 1000);
          });

          function resendOtp() {
            const email = document.querySelector('input[name="email"]').value;
            console.log(email + " my resend email");

            // Update expiration timestamp on resend
            let expirationTimestamp = new Date().getTime() + 1 * 60 * 1000;
            sessionStorage.setItem('otpExpiration', expirationTimestamp);

            fetch('/resendOtp', {
              method: "post",
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ email })
            })
              .then(response => response.json())
              .then(data => {
                console.log(data.message);
              })
              .catch(error => {
                console.error(error);
              });

            console.log('Resend OTP clicked');
          }


        </script>

        <!-- ============================================================================================== -->
        <script src="js/otpValidation.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!-- ============================================================================================= -->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/slick/slick.min.js"></script>
        <script src="js/slick-custom.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/parallax100/parallax100.js"></script>
        <script>
          $(".parallax100").parallax100();
        </script>
        <!--===============================================================================================-->
        <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/isotope/isotope.pkgd.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/sweetalert/sweetalert.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>
        </body>

        </html>