<%- include('../layouts/userLayout/header.ejs') -%>
  <!--===============================================================================================-->
  <link rel="stylesheet" href="/user/style.css" />
  <link rel="icon" type="image/png" href="images/icons/logoVV.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/util.css" />
  <!--===============================================================================================-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- css link here  -->
  <link rel="stylesheet" href="/userProfile/css/swipper.css">
  <link rel="stylesheet" href="/userProfile/css/select2.css">
  <link rel="stylesheet" href="/userProfile/css/tailwind.css">
  <link rel="stylesheet" href="/userProfile/css/styles.css">
  <link rel="stylesheet" href="/userProfile/css/responsive.css">

  <%- include('../layouts/userLayout/center.ejs') -%>

    <%- include('../layouts/userLayout/navbar.ejs') -%>
      <!-- ==========================================New ONE========================================================================== -->
      <!-- Breadcrumb Start -->
      <div class="breadcrumb">
        <div class="container">
          <h2 class="pt-[13.5px] xl:text-2xl text-[18px] font-semibold text-gray-black font-display">Account Details
          </h2>
        </div>
      </div>
      <!-- Breadcrumb End -->

      <!-- bar start -->
      <div class="user bg-red-600">
        <div class="container">
          <div class="usermenu flex flex-col md:flex-row justify-between md:items-center">
            <!-- Tabs -->
            <ul id="tabs" class="inline-flex flex-col md:flex-row w-full">

              <li class="border-b-2 border-accents">
                <a id="default-tab" href="/userProfile"
                  class="text-[#636270] font-medium p-5 border-b border-transparent hover:text-gray-black font-display">Account
                  Settings</a>
              </li>
              <li >
                <a id="default-tab" href="/editProfile"
                  class="text-[#636270] font-medium p-5 border-b border-transparent hover:text-gray-black font-display">Edit Details</a>
              </li>
              <li>
                <a id="default-tab" href="/changePassword"
                  class="text-[#636270] font-medium p-5 border-b border-transparent hover:text-gray-black font-display">Change
                  Password</a>
              </li>

              <li>
                <a href="#order_history"
                  class="text-[#636270] font-medium p-5 border-b border-transparent hover:text-gray-black font-display">Order
                  History</a>
              </li>

              <li>
                <a href="#order_details"
                  class="text-[#636270] font-medium p-5 border-b border-transparent hover:text-gray-black">Order
                  Details</a>
              </li>

              <li>
                <a href="#wishlist"
                  class="text-[#636270] font-medium p-5 border-b border-transparent hover:text-gray-black font-display">Wishlist</a>
              </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="container">
        <!-- Tab Contents -->
        <div id="tab-contents">

          <!-- Account Setting Start -->
          <div id="account_settings">
            <div class="container px-3 md:px-5 xl:px-0 py-10">
              <div class="accout-setting flex flex-col xl:flex-row gap-6">
                <div class="box xl:w-[312px]">
                  <div class="">
                    <div class="p-6">
                      <h2
                        class="xl:text-2xl acc-title text-[22px]  text-[#272343] font-medium mb-6 font-display text-center">
                        WELCOME, <%= user.username%>
                      </h2>

                      <div class="pb-[26px] mx-auto">
                        <img class="w-[150px] h-[150px] rounded-full mx-auto object-cover"
                          src="/userProfile/assets/images/all-img/profile-photo.png" alt="image description" id="blah">
                      </div>

                      <div class="flex justify-center pb-3">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- account inforamation start -->
                <div class="box xl:w-[536px]">
                  <div class="w-full ">
                    <div class="p-6">
                      <h2
                        class="text-start xl:text-2xl acc-title text-[22px] text-[#272343] font-medium mb-6 font-display">
                        Account Information</h2>
                      <div class="flex flex-col sm:flex-row gap-5 items-center mb-5">
                        <div class="w-full">
                          <input type="text" placeholder="username" value="<%= user.username %>" readonly
                            class="input-box focus:outline-none focus:ring-2 focus:ring-accents transition duration-300 ease-in-out">
                        </div>
                      </div>

                      <div class="w-full mb-5">
                        <input type="text" placeholder="Email" value="<%= user.email %>" readonly
                          class="input-box focus:outline-none  focus:ring-2 focus:ring-accents font-display transition duration-300 ease-in-out">
                      </div>
                      <div class="w-full mb-5">
                        <input type="text" placeholder="mobile" value="<%= user.mobileNumber %>" readonly
                          class="input-box focus:outline-none  focus:ring-2 focus:ring-accents font-display transition duration-300 ease-in-out">
                      </div>
                      <div class="flex items-center mb-5">
                        <input type="text" placeholder="ReferralOffer"
                          value="http://localhost:3001/signup?referralCode=<%= user.referralCode%>" id="referralLink"
                          readonly
                          class="input-box focus:outline-none focus:ring-2 focus:ring-accents font-display transition duration-300 ease-in-out flex-grow">
                        <button class="btn btn-primary ml-2" onclick="copyReferralLink()">Copy</button>
                      </div>
                      <a style="text-decoration: none;color: black;" href="/editProfile"><button class="btn btn-outline-primary">Edit</button></a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ==========================================New ONE========================================================================== -->


      <%- include('../layouts/userLayout/page-footer.ejs') -%>

        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript"></script>

        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <script>
          function copyReferralLink() {
            var referralLink = document.getElementById("referralLink");
            referralLink.select();
            document.execCommand("copy");

            toastr.success("Referral link copied to clipboard!");
          }
        </script>
        <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/slick/slick.min.js"></script>
        <script src="js/slick-custom.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/parallax100/parallax100.js"></script>
        <script>
          $(".parallax100").parallax100();
        </script>
        <!--===============================================================================================-->
        <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/isotope/isotope.pkgd.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/sweetalert/sweetalert.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>



        











        </body>

        </html>